.registration{

   
    border: rgb(65, 11, 11) 3px solid;
    color: rgb(10, 10, 7);
    font-size:medium;
    background-color:rgb(192, 232, 232);
    width: 100%;
    height: 70%;
    border-radius: 1%;
}

